<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signIN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div style="padding-top:5px;">
    <div class = "col-10 offset-1">
        <form action="/signIN" method="POST">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" name = "login" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" id="password1" name="password">
            </div>
            <button type="submit" class="btn btn-primary">SignIN</button>
        </form>
    </div>
</div>


</body>
</html>